@import url("https://fonts.xz.style/serve/fira-code.css");

* {
    font-variant-ligatures: none;
}

:root {
	--nc-font-sans: 'Fira Code', monospace;
	--nc-font-mono: 'Fira Code', monospace;
	/* Custom theme colors */
    --nc-bg-1: #303030;
    --nc-bg-2: #165D00;
    --nc-bg-3: #000000;
    --nc-tx-1: #FFFFFF;
    --nc-tx-2: #FFFFFF;
    --nc-lk-1: #00BDFF;
    --nc-lk-2: #008ABA;
    --nc-ac-1: #FFFFFF;
    --nc-ac-tx: #000000;
    --code: #1F4025;

    --base: 0.8rem;
    --grid-gutter: var(--base);
    --grid-height: calc(2 * var(--base));
}
span.nobr { white-space: nowrap; }

h1, h2, h3 {
    padding-bottom: 5px;
    margin-bottom: 15px;
}

code, kbd, samp {
    background: var(--code);
    /* Increase border size from default and reduce padding */
    border: 2px solid var(--nc-bg-3);
    padding: 2px 4px;
    font-style: normal;
}

pre {
    background: var(--code);
    border: 2px solid var(--nc-bg-3);
    tab-size: 4;
    -moz-tab-size: 4;
}

blockquote {
    font-style: italic;
}

footer {
    font-size: 0.8rem;

    /* Keep same width as body text - taken from new.css for header */
	margin: -2rem calc(0px - (50vw - 50%)) 2rem;
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
}

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

#headshot {
    height: 10em;
    display: block;
    object-fit: contain;
    margin-left: 5%;
    margin-right: auto;
    margin-top: 1em;
}

/*
Center images that are just regular images from markdown, and give them a good margin
*/
body > img:not(.emoji), p > img:not(.emoji) {
    display: block;
    margin: var(--grid-height) auto;
}

/* Special div for putting images beside each other */
div.sidebyside {
    text-align: center;
    margin: calc(0.5 * var(--grid-height)) 0;
}
div.sidebyside > img {
    text-align: center;
    margin: calc(0.5 * var(--grid-height)) var(--grid-gutter);
}

/*
The image carousel stuff below is copied from:
https://github.com/surma/surma.dev/blob/master/static/styles.css
*/

figure {
  margin: calc(var(--grid-height) + 2 * var(--grid-gutter)) 0 0;
}
figure {
  position: relative;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
}
figure > * {
  max-width: 100%;
  height: auto;
}
figure > p:first-child,
figcaption > p:first-child {
  display:contents;
}
figcaption {
  margin-top: var(--grid-height);
  max-width: calc(100% - 2 * var(--grid-height));
  margin: calc(0.5 * var(--grid-height)) auto var(--grid-height); /* smaller top margin */
  text-align: center;
  font-style: italic; /* Replaces the weird slanting that was done by Surma before */
}
.carousel {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  /* by me */
  margin-top: var(--grid-height);
  margin-bottom: calc(2 * var(--grid-height));
}
.carousel > * {
  flex: 0 0 calc(100% - 10 * var(--grid-gutter));
  scroll-snap-align: center;
  margin: 0 calc(2 * var(--grid-gutter));
}

/* No longer image carousel copied stuff */

.carousel img {
    object-fit: contain;
    display: block;
    max-width: initial;
}
.carousel img:not(.dithered) {
    /* This messes up dithered images */
    width: 100%;
    height: 100%;
}

.dithered {
    /* Make pixelated */
    image-rendering: optimizeSpeed;             /* Legal fallback */
    image-rendering: -moz-crisp-edges;          /* Firefox        */
    image-rendering: -o-crisp-edges;            /* Opera          */
    image-rendering: -webkit-optimize-contrast; /* Safari         */
    image-rendering: optimize-contrast;         /* CSS3 Proposed  */
    image-rendering: crisp-edges;               /* CSS4 Proposed  */
    image-rendering: pixelated;                 /* CSS4 Proposed  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+           */

    /* Don't allow it to be scaled up in carousel */
    max-width: 100%;
    max-height: 100%;
}
