@import url("https://fonts.xz.style/serve/fira-code.css");

:root {
	--nc-font-sans: 'Fira Code', monospace;
	--nc-font-mono: 'Fira Code', monospace;
    --nc-bg-1: #303030; /*#292929;*/
    --nc-bg-2: #165D00;
    --nc-bg-3: #000000;
    --nc-tx-1: #FFFFFF;
    --nc-tx-2: #FFFFFF;
    --nc-lk-1: #00BDFF;
    --nc-lk-2: #008ABA;
    --nc-ac-1: #FFFFFF;
    --nc-ac-tx: #000000;

    --code: #1F4025; /*#401F1F;*/
}
span.nobr { white-space: nowrap; }

h1, h2, h3 {
    padding-bottom: 5px;
    margin-bottom: 15px;
}

code, kbd, samp {
    background: var(--code);
    /* Increase border size from default and reduce padding */
    border: 2px solid var(--nc-bg-3);
    padding: 2px 4px;
    font-style: normal;
}

pre {
    background: var(--code);
    border: 2px solid var(--nc-bg-3);
}

blockquote {
    font-style: italic;
}

footer {
    font-size: 0.8rem;

    /* Keep same width as body text - taken from new.css for header */
	margin: -2rem calc(0px - (50vw - 50%)) 2rem;
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
}

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

#headshot {
    height: 10em;
    display: block;
    object-fit: contain;
    margin-left: 5%;
    margin-right: auto;
    margin-top: 1em;
}
